{%- import 'macro/filters.sql.njk' as filters %}

select
    a.*,
    (day1.ccr - a.ccr) as abs_diff_ccr,
    safe_divide((a.total_followers - day1.total_followers), a.total_followers) * 100 as per_chng_total_followers
from
    (
        select
            *
        from
            (
                select
                    hq,
                    st,
                    div,
                    reg,
                    type,
                    symbol,
                    company_name,
                    logo_url,
                    total_followers,
                    row_number() over(order by ccr) as rank,
                    ccr
                from
                    reports_data.master_database_table_WEBAPP
                where
                    1 = 1
                    and date = (select max(date) from reports_data.master_database_table_WEBAPP)
                    and {{ filters.globalFilter(companyName, div, reg, st, symbol) }}
            )
        where
            rank <= 3
    ) a
    left join (
        select
            symbol,
            company_name,
            date,
            total_followers,
            ccr
        from
            reports_data.master_database_table_WEBAPP
        where
            date = date_sub((select max(date) from reports_data.master_database_table_WEBAPP), interval 1 day)
    ) day1
    on (
        a.company_name = day1.company_name
    )
